name: mop mvn build check and ut

on:
  pull_request:
    branches:
      - master
      - branch-*
  push:
    branches:
      - master
      - branch-*

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Get All Tests
        id: list-test
        run: |
          TESTS=`find tests/src/test/java/io/streamnative/pulsar/handlers/mqtt \
          mqtt-impl/src/test/java/io/streamnative/pulsar/handlers/mqtt -name "*Test.java" | \
          awk -F "/" '{ print $NF }' | \
          awk -F "." '{ print $1 }' | \
          jq -R -s -c 'split("\n") | map(select(. != ""))'`
          echo "::set-output name=tests::$(echo $TESTS)"
    outputs:
      tests: ${{ steps.list-test.outputs.tests }}


  build:
    needs: scan
    strategy:
      matrix:
        test: ${{ fromJson(needs.scan.outputs.tests) }}
    runs-on: ubuntu-latest
    timeout-minutes: 50
    steps:
      - uses: actions/checkout@v1

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: License check
        run: mvn license:check

      - name: Build with Maven skipTests
        run: mvn clean install -DskipTests

      - name: Style check
        run: mvn checkstyle:check

      - name: Spotbugs check
        run: mvn spotbugs:check

      - name: test after build
        run: ./scripts/retry.sh mvn -B -ntp test -Dtest=${{ matrix.test }} -DfailIfNoTests=false

      - name: upload test report
        run: bash <(curl -s https://codecov.io/bash)

      - name: package surefire artifacts
        if: failure()
        run: |
          rm -rf artifacts
          mkdir artifacts
          find . -type d -name "*surefire*" -exec cp --parents -R {} artifacts/ \;
          zip -r artifacts.zip artifacts
      - uses: actions/upload-artifact@master
        name: upload surefire-artifacts
        if: failure()
        with:
          name: surefire-artifacts
          path: artifacts.zip
