name: mqttop Release

on:
  release: null

jobs:
  upload:
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: build
      run: |
        version=`./scripts/dev/get-project-version.py`
        mvn clean install -DskipTests
        rm -rf pulsar-protocol-*
        cp mqtt-impl/target/pulsar-protocol-handler-mqtt-${version}.nar ./
        cp README.md ./pulsar-protocol-handler-mqtt-readme.md
        echo "ls pulsar-protocol-*"
        ls pulsar-protocol-*

      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    - name: publish
      uses: skx/github-action-publish-binaries@release-0.11
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: 'pulsar-protocol-*'
